/* this contains css related to the projects section of the portfolio */

.projectsContainer {
  min-height: 150vh;
  background-color: black;
  position: relative;
  overflow: hidden;
}

#bg3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.projectsHeading {
  padding-top: 10vh;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  text-shadow: -0.05em 0.05em #778899;
  text-decoration: underline;
  text-decoration-color: white;
  text-underline-offset: auto;
  margin-bottom: 8rem;
  flex-direction: column;
}

/* project 1 is under here */
.project1 {
  position: relative;
  display: flex;
  margin-bottom: 14rem;
  justify-content: center;
  align-self: flex-start;
  margin-left: 10rem;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  box-shadow: 15px 15px 10px 10px rgba(119, 136, 153, 0.6);
  background-color: lightslategray;
  width: 40rem;
  height: 24rem;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}

.imageContainer:hover {
  transition: ease-in-out 0.5s;
  transform: scale(0.95);
  opacity: 0.5;
}

.image1 img {
  width: 100%;
}

.projectinfo {
  position: relative;
  height: fit-content;
  padding: 1rem;
  margin-left: 0.5rem;
}

.projectName {
  position: relative;
  z-index: 1;
  font-size: 3.5rem;
}

.description {
  position: relative;
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
  z-index: 1;
  opacity: 0;
  transition: all 0.7s ease-in-out;
}

/* under here is project 2 */
.project2 {
  position: relative;
  display: flex;
  margin-bottom: 14rem;
  justify-content: center;
  align-self: flex-start;
  margin-top: 10rem;
}

.imageContainer2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  height: 26rem;
  width: 25rem;
  cursor: pointer;
  filter: blur();
  transition: ease-in-out 0.5s;
  box-shadow: -10px 15px 10px 10px rgba(119, 136, 153, 0.6);
}

.image2 img {
  width: 100%;
}

.imageContainer2:hover {
  transition: ease-in-out 0.5s;
  transform: scale(0.95);
  opacity: 0.5;
}

.projectinfo2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  height: fit-content;
  margin-right: 0.5rem;

  padding: 1rem;
  z-index: 1;
  justify-content: right;
}

.projectName2 {
  position: relative;
  z-index: 1;
  font-size: 3.5rem;
}

.description2 {
  position: relative;
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
  z-index: 1;
  opacity: 0;
  transition: all 0.7s ease-in-out;
}

/* styling for button going to live app */
.firstBtn {
  background: none;
  margin-top: 1.5rem;
  padding: 10px 20px;
  font-size: 20px;
  border: 1px solid lightslategray;
  cursor: pointer;
  transition: 0.8s;
  position: relative;
  overflow: scroll;
}

.firstBtn::before {
  content: "";
  position: absolute;
  left: 0;
  height: 0%;
  width: 100%;
  background: lightslategray;
  z-index: -1;
  transition: 0.8s;
}

.firstBtn::before {
  top: 0;
  border-radius: 0 0 25% 25%;
}

.firstBtn:hover::before {
  height: 180%;
}
